#header{
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;

}


/* search button */

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


  /* left column */
  #left-column{
      background-color: rgb(243, 237, 237);
      height: 900px;
      float: left;
  }

  .card{
      float:left;
      width: 20px;
      margin: 10px;
      background-color: lightskyblue;
  }

  #wrapper{
      height: 400px;
      margin: 20px;
  }

  #search{
      font-weight: bold;
  }

  #cards-title{
      font-size: 28px;

  }